<!DOCTYPE html>
<html>
  <head>
    <title>ClimbJio - A shared calendar for friends to climb together.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="To join our WeChat group where we jio climbs weekly, contact luozhengiw@gmail.com :)" />
    <meta name="keywords" content="Climb, Bouldering, Climb together" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka the Great" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ZCOOL XiaoWei" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <!-- START OF HTML BODY  -->
  <body>
    <div class="container1">
      <div class="tab">
        <button id="showListButton" class="tablinks" onclick="openTab(event, 'show_list')"> Show Sessions </button>
        <h2 class="tabButtonDivider">|</h2>
        <button class="tablinks" onclick="openTab(event, 'lets_jio')"> Let's Jio </button>
      </div>
      <hr />
      <div id="show_list" class="tabcontent">
        <table id="sessionTable">
          <thead>
            <tr>
              <th>Date</th>
              <th>Slot</th>
              <th>Jio</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <div class="container2">
          <button onclick="showCopiedToast()" id="copyButton">Copy</button>
        </div>
        <hr />
        <div id="copiedToast" class="toast">
          <p>Copied.</p>
          <p> Some WeChat browsers do not support copy. If so please open this page in your phone's browser. </p>
        </div>
      </div>
      <div id="lets_jio" class="tabcontent">
        <form id="sessionForm" action="#">
          <fieldset>
            <legend>Session Details</legend>
            <input type="date" name="date" id="dateInput" required />
            <hr />
            <select name="time_1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
            <p class="inputDivider">:</p>
            <select name="time_2">
              <option>00</option>
              <option>30</option>
            </select>
            <p class="inputDivider">-</p>
            <select name="time_3">
              <option>AM</option>
              <option>PM</option>
            </select>
            <hr />
            <select name="gym">
              <option>B+_JE</option>
              <option>B+_Kallang</option>
              <option>B8a</option>
              <option>BM_DownTown</option>
              <option>BM_Rocher</option>
              <option>BM_TaiSeng</option>
              <option>CC_Funan</option>
              <option>CC_Novena</option>
              <option>CC_SportsHub</option>
              <option>Kinetics</option>
              <option>T-Hall</option>
            </select>
            <hr />
            <input type="text" name="name" placeholder="climber name(s)" />
            <hr />
            <button type="button" id="sessionSubmitButton">☛ Jio ☚</button>
          </fieldset>
        </form>
        <p class="randomWords"> Some say it is more fun to climb with friends. </p>
        <p class="randomWords">I tried. It's true!</p>
        <hr />
        <h5>Past Sessions</h5>
        <div class="pastSessions"></div>  
      </div>
    </div>
    <!-- END OF HTML BODY  -->
    <!-- START OF SCRIPTS  -->
    <script src="../static/scripts/common.js"></script>
    <script src="../static/scripts/submitSession.js"></script>
    <script src="../static/scripts/pageReady.js"></script>
    <!-- END OF SCRIPTS  -->
  </body>
</html>